.container {
  font-size: 20px;
  box-sizing: border-box;
  width:100%;
  padding:10px;
  background-image: url(../img/pigdice.jpg);
  background-size: cover;
  color: white;
}
h1,h3,h4,button {
  font-family: "akronim", cursive;
}
p,label,li {
  font-family: "andada", cursive;
}

.btn {
  font-size: 25px;
  background-size:#5A3E36;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #777;
  color: #2E8B57;
}
.btn:hover {
  box-shadow: 0px 0px 10px #eee;
  color: #D2B48C;
}

 #header {
  background-color:#935529;
  padding: 10px;
  margin: 0px;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid #001f75;
  box-shadow: 0px 0px 30px #ccc;
 }
